body {
    background-color: #553333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:100%;
    height:100%;

    .outerDiv {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
    }
    .controlPanelVertical, .controlPanelVerticalHidden {
        height: 100%;
        width: 20vh;
        top: 0;
        position: absolute;
        z-index: 2;
        transition: right 0.5s ease-in-out;
    }
    .controlPanelVertical {
        right: 0;
    }
    .controlPanelVerticalHidden {
        right: -15vh;
    }
    .controlPanelHorizontal, .controlPanelHorizontalHidden {
        height: 20vw;
        width: 100%;
        right: 0;
        position: absolute;
        float: left;
        z-index: 2;
        transition: top 0.5s ease-in-out;
    }
    .controlPanelHorizontal {
        top: 0;
    }
    .controlPanelHorizontalHidden {
        top: -15vw;
    }
    .cornerVertical, .cornerHorizontal {
        background-color: #773344;
        position: absolute;
        right: 0;
        cursor: pointer;
    }
    .cornerVertical:hover, .cornerHorizontal:hover {
        background-color: #884455;
    }
    .cornerVertical {
        height: 15vh;
        width: 15vh;
    }
    .cornerHorizontal {
        height: 15vw;
        width: 15vw;
    }

    .sceneSelectorVertical, .sceneSelectorHorizontal {
        background-color: #aa8844;
        position: absolute;
    }
    .sceneSelectorVertical {
        height: 45vh;
        width: 15vh;
        top: 15vh;
        right: 0;
    }
    .sceneSelectorHorizontal {
        height: 15vw;
        width: 45vw;
        top: 0;
        right: 15vw;
    }
    .scenesContainerHorizontal, .scenesContainerVertical {
        background-color: #338844;
        position: relative;
    }
    .scenesContainerHorizontal{
        height: 90%;
        width: 97%;
        top: 5%;
        left: 1.5%;
    }
    .scenesContainerVertical{
        height: 97%;
        width: 90%;
        top: 1.5%;
        left: 5%;
    }
    .textButtonHorizontal, .picturesButtonHorizontal, .videoButtonHorizontal, .musicButtonHorizontal {
        height: 15vw;
        width: 10vw;
        top: 0;
    }
    .textButtonVertical, .picturesButtonVertical, .videoButtonVertical, .musicButtonVertical {
        height: 10vh;
        width: 15vh;
        right: 0;
    }
    .textButtonHorizontal, .textButtonVertical {
        background-color: #226688;
        position: absolute;
        cursor: pointer;
    }
    .textButtonHorizontal:hover, .textButtonVertical:hover {
        background-color: #337799;
    }
    .textButtonHorizontal {
        right: 60vw;
    }
    .textButtonVertical {
        top: 60vh;
    }
    .picturesButtonHorizontal, .picturesButtonVertical {
        background-color: #228088;
        position: absolute;
        cursor: pointer;
    }
    .picturesButtonHorizontal:hover, .picturesButtonVertical:hover {
        background-color: #118077;
    }
    .picturesButtonHorizontal {
        right: 70vw;
    }
    .picturesButtonVertical {
        top: 70vh;
    }
    .videoButtonHorizontal, .videoButtonVertical {
        background-color: #229988;
        position: absolute;
        cursor: pointer;
    }
    .videoButtonHorizontal:hover, .videoButtonVertical:hover {
        background-color: #119977;
    }
    .videoButtonHorizontal {
        right: 80vw;
    }
    .videoButtonVertical {
        top: 80vh;
    }
    .musicButtonHorizontal, .musicButtonVertical {
        background-color: #22cc88;
        position: absolute;
        cursor: pointer;
    }
    .musicButtonHorizontal:hover, .musicButtonVertical:hover {
        background-color: #11cc77;
    }
    .musicButtonHorizontal {
        right: 90vw;
    }
    .musicButtonVertical {
        top: 90vh;
    }
    .hidePanelButtonHorizontal, .hidePanelButtonVertical {
        background-color: #AA3344;
        position: absolute;
        cursor: pointer;
    }
    .hidePanelButtonHorizontal:hover, .hidePanelButtonVertical:hover {
        background-color: #992233;
    }
    .hidePanelButtonHorizontal {
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 5vw;
    }
    .hidePanelButtonVertical {
        left: 0;
        bottom: 0;
        width: 5vh;
        height: 100vh;
    }

    .hidePanelImg,.hidePanelImgHorizontal, .hidePanelImgHorizontalHidden, .hidePanelImgVertical, .hidePanelImgVerticalHidden {
        opacity: 0.7;
        position: absolute;
        transition: transform 0.5s ease-in-out;
    }
    .hidePanelImg:hover, .hidePanelImgHorizontal:hover, .hidePanelImgHorizontalHidden:hover, .hidePanelImgVertical:hover, .hidePanelImgVerticalHidden:hover {
        opacity: 1;
    }
    .hidePanelImgHorizontal {
        height: 100%;
        width: auto;
        left: 46%;
        top: 0;
        transform: rotate(0deg);
    }
    .hidePanelImgHorizontalHidden {
        height: 100%;
        width: auto;
        left: 46%;
        top: 0;
        transform: rotate(180deg);
    }
    .hidePanelImgVertical {
        height: auto;
        width: 100%;
        left: 0;
        top: 46%;
        transform: rotate(90deg);
    }
    .hidePanelImgVerticalHidden {
        height: auto;
        width: 100%;
        left: 0;
        top: 46%;
        transform: rotate(-90deg);
    }

    .foodButton {
        position: absolute;
        width: 50%;
        left: 25%;
        top: 13%;
    }
    .sceneButtonHorizontal {
        cursor: pointer;
        margin-top: 2.7vw;
        margin-left: 1vw;
        height: 60%;
        width: auto;
    }
    .sceneButtonVertical {
        cursor: pointer;
        margin: 0;
        height: auto;
        width: 100%;
    }
    .sceneButtonHorizontal:hover, .sceneButtonVertical:hover {
        opacity: 0.5;
    }
    .canvasContainer {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        canvas {
            display: block;
            width: 100vw;
            height: 100vh;
        }
    }

    .pageContainer {
        height: 100vh;
        width: 100vw;
        margin-right: -100px;
        padding-right: 100px;
        overflow: auto;
        overflow-x: hidden;
    }

    .header {
        height: 40vw;
        width: 100vw;
        background-color: #aa5555;
        font-size: 17vw;
        font-style: oblique;
        font-weight: bold;
    }

    .playVideoButton {
        height: 100%;
        width: 100%;
        background: url("./../images/youtubePlayButton.png") no-repeat 50%;
        opacity: 0.9;
        cursor: pointer;
    }

    .imagesBatchContainerHorizontal {
        width: 85vw;
    }
    .imagesBatchContainerVertical {
        width: 100vw;
    }

    .imagePreview {
        max-width: 20%;
        margin-left: 4%;
        margin-top: 3vw;
        height: auto;
        cursor: pointer;
    }

    .loadMoreFooter {
        width: 100vw;
        height: 20%;
        font-size: 14vh;
        background-color: #883333;
        cursor: pointer;
    }

    .dimmer {
        display: none;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index: 1;
    }

    .detailedImageContainerHorizontal, .detailedImageContainerVertical {
        position: relative;
        background-color: rgba(0, 0, 0, 0.85);
    }
    .detailedImageContainerHorizontal {
        width: 80%;
        height: 90%;
        left: 5%;
        top: 5%;
    }
    .detailedImageContainerVertical {
        width: 100%;
        height: 80%;
        top: 20%;
    }

    .prevImageButton, .nextImageButton, .closePictureButton {
        position: absolute;
        bottom: 0;
        width: 10%;
        height: 15%;
        cursor: pointer;
        background: #2f6fad no-repeat 50%;
        background-size: contain;
    }
    .nextImageButton:hover, .prevImageButton:hover {
        background-color: #aa3333;
    }
    .closePictureButton:hover {
        background-color: #bb3333;
    }
    .nextImageButton {
        right: 10%;
        background-image: url("./../images/nextImageButton.png");
    }
    .prevImageButton {
        right: 20%;
        background-image: url("./../images/previousImageButton.png");
    }
    .closePictureButton {
        right: 0;
        background: #883333 url("./../images/closeImageButton.png") no-repeat 50%;
        background-size: contain;
    }

    .imageDescription {
        position: absolute;
        right: 30%;
        bottom: 0;
        width: 70%;
        height: 15%;
        background-color: #44aaaa;
    }

    .bigImageItself {
        margin: auto;
        vertical-align: middle;
        display: table-cell;
        max-height: 85%;
        max-width: 100%;
    }
}
