body {
    background-color: #553333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:100%;
    height:100%;

    .outer {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
    }
    .control-panel_vertical-shown, .control-panel_vertical-hidden {
        height: 100%;
        width: 20vh;
        top: 0;
        position: absolute;
        z-index: 2;
        transition: right 0.5s ease-in-out;
    }
    .control-panel_vertical-shown {
        right: 0;
    }
    .control-panel_vertical-hidden {
        right: -15vh;
    }
    .control-panel_horizontal-shown, .control-panel_horizontal-hidden {
        height: 20vw;
        width: 100%;
        right: 0;
        position: absolute;
        float: left;
        z-index: 2;
        transition: top 0.5s ease-in-out;
    }
    .control-panel_horizontal-shown {
        top: 0;
    }
    .control-panel_horizontal-hidden {
        top: -15vw;
    }
    .control-panel__corner_vertical, .control-panel__corner_horizontal {
        background-color: #773344;
        position: absolute;
        right: 0;
        cursor: pointer;
    }
    .control-panel__corner_vertical:hover, .control-panel__corner_horizontal:hover {
        background-color: #884455;
    }
    .control-panel__corner_vertical {
        height: 15vh;
        width: 15vh;
    }
    .control-panel__corner_horizontal {
        height: 15vw;
        width: 15vw;
    }

    .control-panel__scene-selector_vertical, .control-panel__scene-selector_horizontal {
        background-color: #aa8844;
        position: absolute;
    }
    .control-panel__scene-selector_vertical {
        height: 45vh;
        width: 15vh;
        top: 15vh;
        right: 0;
    }
    .control-panel__scene-selector_horizontal {
        height: 15vw;
        width: 45vw;
        top: 0;
        right: 15vw;
    }
    .control-panel__scene-selector__cont_horizontal, .control-panel__scene-selector__cont_vertical {
        background-color: #338844;
        position: relative;
    }
    .control-panel__scene-selector__cont_horizontal{
        height: 90%;
        width: 97%;
        top: 5%;
        left: 1.5%;
    }
    .control-panel__scene-selector__cont_vertical{
        height: 97%;
        width: 90%;
        top: 1.5%;
        left: 5%;
    }

    .control-panel__scene-selector__cont__button_horizontal {
        cursor: pointer;
        margin-top: 2.7vw;
        margin-left: 1vw;
        height: 60%;
        width: auto;
    }
    .control-panel__scene-selector__cont__button_vertical {
        cursor: pointer;
        margin: 0;
        height: auto;
        width: 100%;
    }
    .control-panel__scene-selector__cont__button_horizontal:hover,
    .control-panel__scene-selector__cont__button_vertical:hover {
        opacity: 0.5;
    }

    .control-panel__blog-button_horizontal, .control-panel__pictures-button_horizontal,
    .control-panel__videos-button_horizontal, .control-panel__music-button_horizontal {
        height: 15vw;
        width: 10vw;
        top: 0;
    }
    .control-panel__blog-button_vertical, .control-panel__pictures-button_vertical,
    .control-panel__videos-button_vertical, .control-panel__music-button_vertical {
        height: 10vh;
        width: 15vh;
        right: 0;
    }
    .control-panel__blog-button_horizontal, .control-panel__blog-button_vertical {
        background-color: #226688;
        position: absolute;
        cursor: pointer;
    }
    .control-panel__blog-button_horizontal:hover, .control-panel__blog-button_vertical:hover {
        background-color: #337799;
    }
    .control-panel__blog-button_horizontal {
        right: 60vw;
    }
    .control-panel__blog-button_vertical {
        top: 60vh;
    }
    .control-panel__pictures-button_horizontal, .control-panel__pictures-button_vertical {
        background-color: #228088;
        position: absolute;
        cursor: pointer;
    }
    .control-panel__pictures-button_horizontal:hover, .control-panel__pictures-button_vertical:hover {
        background-color: #118077;
    }
    .control-panel__pictures-button_horizontal {
        right: 70vw;
    }
    .control-panel__pictures-button_vertical {
        top: 70vh;
    }
    .control-panel__videos-button_horizontal, .control-panel__videos-button_vertical {
        background-color: #229988;
        position: absolute;
        cursor: pointer;
    }
    .control-panel__videos-button_horizontal:hover, .control-panel__videos-button_vertical:hover {
        background-color: #119977;
    }
    .control-panel__videos-button_horizontal {
        right: 80vw;
    }
    .control-panel__videos-button_vertical {
        top: 80vh;
    }
    .control-panel__music-button_horizontal, .control-panel__music-button_vertical {
        background-color: #22cc88;
        position: absolute;
        cursor: pointer;
    }
    .control-panel__music-button_horizontal:hover, .control-panel__music-button_vertical:hover {
        background-color: #11cc77;
    }
    .control-panel__music-button_horizontal {
        right: 90vw;
    }
    .control-panel__music-button_vertical {
        top: 90vh;
    }
    .control-panel__hide-button_horizontal, .control-panel__hide-button_vertical {
        background-color: #AA3344;
        position: absolute;
        cursor: pointer;
    }
    .control-panel__hide-button_horizontal:hover, .control-panel__hide-button_vertical:hover {
        background-color: #992233;
    }
    .control-panel__hide-button_horizontal {
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 5vw;
    }
    .control-panel__hide-button_vertical {
        left: 0;
        bottom: 0;
        width: 5vh;
        height: 100vh;
    }

    .control-panel__hide-button__img_horizontal-shown, .control-panel__hide-button__img_horizontal-hidden,
    .control-panel__hide-button__img_vertical-shown, .control-panel__hide-button__img_vertical-hidden {
        opacity: 0.7;
        position: absolute;
        transition: transform 0.5s ease-in-out;
    }
    .control-panel__hide-button__img_horizontal-shown:hover, .control-panel__hide-button__img_horizontal-hidden:hover,
    .control-panel__hide-button__img_vertical-shown:hover, .control-panel__hide-button__img_vertical-hidden:hover {
        opacity: 1;
    }
    .control-panel__hide-button__img_horizontal-shown {
        height: 100%;
        width: auto;
        left: 46%;
        top: 0;
        transform: rotate(0deg);
    }
    .control-panel__hide-button__img_horizontal-hidden {
        height: 100%;
        width: auto;
        left: 46%;
        top: 0;
        transform: rotate(180deg);
    }
    .control-panel__hide-button__img_vertical-shown {
        height: auto;
        width: 100%;
        left: 0;
        top: 46%;
        transform: rotate(90deg);
    }
    .control-panel__hide-button__img_vertical-hidden {
        height: auto;
        width: 100%;
        left: 0;
        top: 46%;
        transform: rotate(-90deg);
    }

    .control-panel__routing-button__img {
        position: absolute;
        width: 50%;
        left: 25%;
        top: 13%;
    }

    .canvas-container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        canvas {
            display: block;
            width: 100vw;
            height: 100vh;
        }
    }

    .page-container {
        height: 100vh;
        width: 100vw;
        margin-right: -100px;
        padding-right: 100px;
        overflow: auto;
        overflow-x: hidden;
    }

    .header {
        height: 40vw;
        width: 100vw;
        background-color: #aa5555;
        font-size: 17vw;
        font-style: oblique;
        font-weight: bold;
    }

    .play-video-button {
        height: 100%;
        width: 100%;
        background: url("./../images/youtubePlayButton.png") no-repeat 50%;
        opacity: 0.9;
        cursor: pointer;
    }

    .images-batch-cont_horizontal {
        width: 85vw;
    }
    .images-batch-cont_vertical {
        width: 100vw;
    }

    .image-preview {
        max-width: 20%;
        margin-left: 4%;
        margin-top: 3vw;
        height: auto;
        cursor: pointer;
    }

    .load-more-footer {
        width: 100vw;
        height: 20%;
        font-size: 14vh;
        background-color: #883333;
        cursor: pointer;
    }

    .dimmer {
        display: none;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index: 1;
    }

    .detailed-image-cont_horizontal, .detailed-image-cont_vertical {
        position: relative;
        background-color: rgba(0, 0, 0, 0.85);
    }
    .detailed-image-cont_horizontal {
        width: 80%;
        height: 90%;
        left: 5%;
        top: 5%;
    }
    .detailed-image-cont_vertical {
        width: 100%;
        height: 80%;
        top: 20%;
    }

    .detailed-image-cont__prev-button, .detailed-image-cont__next-button, .detailed-image-cont__close-button {
        position: absolute;
        bottom: 0;
        width: 10%;
        height: 15%;
        cursor: pointer;
        background: #2f6fad no-repeat 50%;
        background-size: contain;
    }
    .detailed-image-cont__next-button:hover, .detailed-image-cont__prev-button:hover {
        background-color: #aa3333;
    }
    .detailed-image-cont__close-button:hover {
        background-color: #bb3333;
    }
    .detailed-image-cont__next-button {
        right: 10%;
        background-image: url("./../images/nextImageButton.png");
    }
    .detailed-image-cont__prev-button {
        right: 20%;
        background-image: url("./../images/previousImageButton.png");
    }
    .detailed-image-cont__close-button {
        right: 0;
        background: #883333 url("./../images/closeImageButton.png") no-repeat 50%;
        background-size: contain;
    }

    .detailed-image-cont__description {
        position: absolute;
        right: 30%;
        bottom: 0;
        width: 70%;
        height: 15%;
        background-color: #44aaaa;
    }

    .detailed-image-cont__image {
        margin: auto;
        display: table-cell;
        height: 85%;
        width: 100%;
        object-fit: contain;
    }
}
